/* line 15, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 30, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.clr-p {
  color: #d00155;
}

/* line 31, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.clr-s {
  color: #50dae2;
}

/* line 32, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.clr-f {
  color: #fff;
}

/* line 34, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-b {
  background-color: #000;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-p {
  background-color: #d00155;
}

/* line 36, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-s {
  background-color: #50dae2;
}

/* line 37, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-f {
  background-color: #fff;
}

/* line 40, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-R {
  position: relative;
}

/* line 41, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-F {
  position: fixed;
}

/* line 42, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-A {
  position: absolute;
}

/* line 43, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-I {
  position: inherit;
}

/* line 47, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oT {
  top: 0;
}

/* line 48, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oR {
  right: 0;
}

/* line 49, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oL {
  left: 0;
}

/* line 50, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oB {
  bottom: 0;
}

/* line 53, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._L {
  text-align: left;
}

/* line 54, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._R {
  text-align: right;
}

/* line 55, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._C {
  text-align: center;
}

/* line 56, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._J {
  text-align: justify;
}

/* line 60, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._z9 {
  z-index: 9;
}

/* line 61, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._z99 {
  z-index: 99;
}

/* line 62, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._z999 {
  z-index: 999;
}

/* line 64, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dB {
  display: block;
}

/* line 65, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dIB {
  display: inline-block;
}

/* line 66, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dI {
  display: inline;
}

/* line 67, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dF {
  display: flex;
}

/* line 68, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dIF {
  display: inline-flex;
}

/* line 69, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.hide {
  display: none;
}

@media screen and (max-width: 45em) {
  /* line 71, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
  .hide-s {
    display: none;
  }
}

/* line 75, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bdr-1 {
  border: 1px solid #999;
}

/* line 76, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bdr-0 {
  border: 0;
}

/* line 78, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.hand {
  cursor: pointer;
}

/* line 79, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.camelCase {
  text-transform: capitalize;
}

/* line 80, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.uCase {
  text-transform: uppercase;
}

/* line 81, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.w-100 {
  width: 100%;
}

/* line 84, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.easy {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-40 {
  font-size: 2.85714rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-38 {
  font-size: 2.71429rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-36 {
  font-size: 2.57143rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-34 {
  font-size: 2.42857rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-32 {
  font-size: 2.28571rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-30 {
  font-size: 2.14286rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-28 {
  font-size: 2rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-26 {
  font-size: 1.85714rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-24 {
  font-size: 1.71429rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-22 {
  font-size: 1.57143rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-20 {
  font-size: 1.42857rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-18 {
  font-size: 1.28571rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-16 {
  font-size: 1.14286rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-14 {
  font-size: 1rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-12 {
  font-size: 0.85714rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-10 {
  font-size: 0.71429rem;
}

/* line 110, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-7 {
  font-weight: 700;
}

/* line 111, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-6 {
  font-weight: 600;
}

/* line 112, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-5 {
  font-weight: 500;
}

/* line 113, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-4 {
  font-weight: 400;
}

/* line 116, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-1 {
  padding: 1rem;
}

/* line 117, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-half {
  padding: 0.5rem;
}

/* line 121, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.m-y-1 {
  margin: 1rem 0;
}

/*# sourceMappingURL=../../css/modules/global.map */