/* line 5, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 45em) {
  /* line 5, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .container {
    width: 100%;
  }
}

/* line 13, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 17, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row--v {
  flex-direction: column;
}

@media screen and (max-width: 45em) {
  /* line 19, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row--s {
    flex-direction: column;
  }
}

/* line 23, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row.center--V {
  align-items: center;
}

/* line 24, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row.center--H {
  justify-content: center;
}

/* line 27, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row [class*="col--"] {
  flex-grow: 1;
  flex-shrink: 0;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--1 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--2 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--3 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--4 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--5 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--6 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--7 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--8 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--9 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--10 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--11 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--12 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--1--s {
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--2--s {
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--3--s {
  max-width: 25%;
  flex-basis: 25%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--4--s {
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--5--s {
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--6--s {
  max-width: 50%;
  flex-basis: 50%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--7--s {
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--8--s {
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--9--s {
  max-width: 75%;
  flex-basis: 75%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--10--s {
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--11--s {
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--12--s {
  max-width: 100%;
  flex-basis: 100%;
}

@media screen and (min-width: 45em) {
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

/*# sourceMappingURL=../../css/modules/grid.map */