@import 'modules/reset.scss';
@import 'modules/global.scss';
@import 'modules/grid.scss';
@import 'modules/header.scss';
@import 'modules/footer.scss';
@import 'modules/home.scss';
@import 'modules/_productList';
@import 'modules/_cart';
@import 'modules/_button';
@import 'modules/_input';

a:focus {
    outline: 1px solid $primary;
}

:root{
    font-size: $baseFont;
    @media screen and (max-width:$media-breakpoint) {
        font-size: 12px;
    }
}

body{
    font-family: "Dosis";
    color: darken($grey--dark , 30% );
    @extend .fw-6;
    
}


%dB , .view{

     
    &--none{display:none;
        @media screen and (max-width:$media-breakpoint) {
           html>body &--s {display:none;}
        }
    }  

}

.card { 

    box-shadow: 1px 2px 5px darken($grey--light , 10%);
    border-radius: 3px;
}


.login{
    align-items: center;
    justify-content: center;
}

.signup{
    justify-content: center;
}

// tablet media
@media screen and (min-width:$media-breakpoint)and (max-width:65em){
    
    header.header {
        .Sign-in-up { padding: 4px;}
    }

    .product__list .product__listItem{
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .popUP {
        background-color: transparent;

        .popCon.cart{
            margin:0;
            flex-basis: 100%;
            max-width: 100%;
            top:80px;
            header { margin-top:10px;background-color: #fff; color:$grey--dark;}
        }
    }
}