@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");
/* line 3, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 8, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/reset.scss */
* a {
  text-decoration: none;
}

/* line 9, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/reset.scss */
* ul {
  list-style: none;
}

/* line 15, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 30, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.clr-p {
  color: #d00155;
}

/* line 31, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.clr-s {
  color: #50dae2;
}

/* line 32, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.clr-f {
  color: #fff;
}

/* line 34, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-b {
  background-color: #000;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-p {
  background-color: #d00155;
}

/* line 36, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-s {
  background-color: #50dae2;
}

/* line 37, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bg-f {
  background-color: #fff;
}

/* line 40, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-R, .inpt, .inpt input, .inpt input ~ .uLine {
  position: relative;
}

/* line 41, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-F {
  position: fixed;
}

/* line 42, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-A, .inpt input ~ label, .inpt input ~ .uLine:after {
  position: absolute;
}

/* line 43, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-I {
  position: inherit;
}

/* line 47, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oT {
  top: 0;
}

/* line 48, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oR {
  right: 0;
}

/* line 49, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oL, .inpt input ~ .uLine:after {
  left: 0;
}

/* line 50, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._oB, .inpt input ~ .uLine:after {
  bottom: 0;
}

/* line 53, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._L {
  text-align: left;
}

/* line 54, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._R {
  text-align: right;
}

/* line 55, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._C {
  text-align: center;
}

/* line 56, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._J {
  text-align: justify;
}

/* line 60, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._z9, .inpt input, .inpt input:focus ~ label, .inpt input:valid ~ label {
  z-index: 9;
}

/* line 61, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._z99 {
  z-index: 99;
}

/* line 62, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
._z999 {
  z-index: 999;
}

/* line 64, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dB, .inpt input ~ .uLine {
  display: block;
}

/* line 65, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dIB {
  display: inline-block;
}

/* line 66, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dI {
  display: inline;
}

/* line 67, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dF {
  display: flex;
}

/* line 68, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.dIF {
  display: inline-flex;
}

/* line 69, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.hide, input[type="checkbox"].z-pop.ddwn:not(:checked) + .dropCon,
input[type="checkbox"].z-pop:not(:checked) + .popUP {
  display: none;
}

@media screen and (max-width: 45em) {
  /* line 71, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
  .hide-s {
    display: none;
  }
}

/* line 75, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bdr-1 {
  border: 1px solid #999;
}

/* line 76, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.bdr-0 {
  border: 0;
}

/* line 78, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.hand {
  cursor: pointer;
}

/* line 79, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.camelCase {
  text-transform: capitalize;
}

/* line 80, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.uCase {
  text-transform: uppercase;
}

/* line 81, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.w-100 {
  width: 100%;
}

/* line 84, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.easy, .popUP .popCon, .btn, .inpt input ~ label, .inpt input ~ .uLine:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-40 {
  font-size: 2.85714rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-38 {
  font-size: 2.71429rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-36 {
  font-size: 2.57143rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-34 {
  font-size: 2.42857rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-32 {
  font-size: 2.28571rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-30 {
  font-size: 2.14286rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-28 {
  font-size: 2rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-26 {
  font-size: 1.85714rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-24 {
  font-size: 1.71429rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-22 {
  font-size: 1.57143rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-20 {
  font-size: 1.42857rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-18 {
  font-size: 1.28571rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-16 {
  font-size: 1.14286rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-14 {
  font-size: 1rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-12 {
  font-size: 0.85714rem;
}

/* line 104, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fs-10 {
  font-size: 0.71429rem;
}

/* line 110, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-7 {
  font-weight: 700;
}

/* line 111, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-6, body {
  font-weight: 600;
}

/* line 112, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-5 {
  font-weight: 500;
}

/* line 113, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.fw-4 {
  font-weight: 400;
}

/* line 116, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-1 {
  padding: 1rem;
}

/* line 117, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.p-half {
  padding: 0.5rem;
}

/* line 121, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/global.scss */
.m-y-1 {
  margin: 1rem 0;
}

/* line 5, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 45em) {
  /* line 5, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .container {
    width: 100%;
  }
}

/* line 13, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 17, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row--v {
  flex-direction: column;
}

@media screen and (max-width: 45em) {
  /* line 19, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row--s {
    flex-direction: column;
  }
}

/* line 23, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row.center--V {
  align-items: center;
}

/* line 24, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row.center--H {
  justify-content: center;
}

/* line 27, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row [class*="col--"] {
  flex-grow: 1;
  flex-shrink: 0;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--1 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--2 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--3 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--4 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--5 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--6 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--7 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--8 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--9 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--10 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--11 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 35, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--12 {
  max-width: 100%;
  flex-basis: 100%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--1--s {
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--2--s {
  max-width: 16.66667%;
  flex-basis: 16.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--3--s {
  max-width: 25%;
  flex-basis: 25%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--4--s {
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--5--s {
  max-width: 41.66667%;
  flex-basis: 41.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--6--s {
  max-width: 50%;
  flex-basis: 50%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--7--s {
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--8--s {
  max-width: 66.66667%;
  flex-basis: 66.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--9--s {
  max-width: 75%;
  flex-basis: 75%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--10--s {
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--11--s {
  max-width: 91.66667%;
  flex-basis: 91.66667%;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
.row .col--12--s {
  max-width: 100%;
  flex-basis: 100%;
}

@media screen and (min-width: 45em) {
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--3 {
    max-width: 25%;
    flex-basis: 25%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--6 {
    max-width: 50%;
    flex-basis: 50%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--9 {
    max-width: 75%;
    flex-basis: 75%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%;
  }
  /* line 46, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/grid.scss */
  .row .col--12 {
    max-width: 100%;
    flex-basis: 100%;
  }
}

/* line 5, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
.header {
  box-shadow: 0 2px 10px #f1f1f1;
}

/* line 8, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
.header a {
  color: #4d4d4d;
  font-weight: 700;
}

/* line 10, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
.header__nav li {
  display: inline-block;
  margin-left: 1rem;
}

/* line 16, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
.header__action .Sign-in-up a {
  margin-right: 1.2rem;
}

/* line 19, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
.header .cartBtn {
  background-color: #f1f1f1;
  max-height: 4rem;
}

@media screen and (max-width: 45em) {
  /* line 26, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
  .header .logo {
    padding: 0;
  }
  /* line 28, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/header.scss */
  .header .logo > img {
    width: 90%;
    padding: 0.35714rem;
  }
}

/* line 3, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
#heroSlider {
  margin: 5% auto;
}

/* line 9, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.sliderCon {
  display: flex;
  overflow: hidden;
  position: relative;
}

/* line 15, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
[name="slide"] {
  display: none;
}

/* line 17, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.slide {
  order: 1;
  transition: all 0.4s ease-in-out;
  opacity: 0.8;
}

/* line 23, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.pag {
  position: absolute;
  bottom: 1.42857rem;
  left: 45%;
}

/* line 29, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.pag li {
  display: inline;
  position: relative;
  margin-right: 5px;
}

/* line 31, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.pag li label {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background-color: #d8d8d8;
  border-radius: 5px;
  margin: 0 0.35714rem;
}

/* line 41, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
[name="slide"]:checked + div.slide {
  order: 0;
  opacity: 1;
}

/* line 43, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.dropShadow {
  position: relative;
}

/* line 48, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.dropShadow:before, .dropShadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  top: 80%;
  bottom: 0.35714rem;
  left: 10%;
  right: 10%;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

/* line 63, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
.dropShadow:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

/* line 78, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/home.scss */
#prodCat .row:nth-child(even) figure {
  order: 1;
}

/* line 3, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__category {
  background-color: #f1f1f1;
}

@media screen and (max-width: 35em) {
  /* line 7, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
  .product__category #filterDown:checked + ul > li {
    position: static;
  }
  /* line 10, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
  .product__category ul {
    padding: 0;
    margin: 1rem 0 4.5rem 0;
  }
  /* line 13, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
  .product__category ul li {
    text-indent: 1rem;
  }
  /* line 15, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
  .product__category ul li label {
    color: #fff !important;
  }
  /* line 16, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
  .product__category ul li.selected {
    z-index: 2;
  }
}

/* line 25, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__category ul li label {
  color: #8b8b8b;
  font-size: 1.2rem;
  padding: 0.85rem 0;
  display: block;
  cursor: pointer;
}

/* line 26, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__category ul li label:hover {
  color: #d00155;
}

/* line 29, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__category ul li:not(:last-child) {
  border-bottom: 1px solid #8b8b8b;
}

@media screen and (max-width: 35em) {
  /* line 24, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
  .product__category ul li {
    position: absolute;
    width: 100%;
    background-color: #d00155;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

/* line 44, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__list {
  padding: 0.6rem;
}

/* line 47, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__listItem {
  margin: 1rem 0 1rem 0;
  border-bottom: 1px dashed #d8d8d8;
  border-radius: 3px;
  box-shadow: 0 2px 5px #f1f1f1;
}

/* line 54, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__listItem .item__desc {
  background-color: #f1f1f1;
  padding: 0.5rem;
}

/* line 59, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_productList.scss */
.product__listItem .item__img {
  max-height: 220px;
}

/* line 2, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.popUP .popCon .--x, .-x {
  top: -0.7rem;
  max-height: 5px;
}

/* line 3, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.popUP {
  opacity: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: flex-end;
}

/* line 9, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.popUP .popCon {
  background-color: #f1f1f1;
  top: 10vh;
  min-height: 4rem;
}

/* line 11, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.popUP .popCon.cart {
  margin-right: 10%;
  margin-bottom: 5%;
}

@media screen and (max-width: 45em) {
  /* line 11, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
  .popUP .popCon.cart {
    margin: 0;
    top: 0;
  }
}

/* line 26, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.popUP .popCon .popUP-txt {
  max-height: 76vh;
}

/* line 40, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.incItem {
  padding: 0.71429rem 0;
}

/* line 42, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.incItem input {
  max-width: 25px;
  padding: 0.35714rem;
  max-height: 25px;
}

/* line 43, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_cart.scss */
.incItem .plus, .incItem .minus {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
}

/* line 1, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_button.scss */
.btn {
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 3px;
}

/* line 6, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_button.scss */
.btn--p {
  background-color: #d00155;
  color: #fff;
}

/* line 7, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_button.scss */
.btn:hover {
  box-shadow: 0 0.28571rem 0.71429rem #8b8b8b;
}

/* line 3, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt input {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #8b8b8b;
  padding: 0.75rem 0;
  background: transparent;
}

/* line 17, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt input:focus {
  outline: none;
  border: 0;
}

/* line 19, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt input:focus ~ .uLine:after {
  width: 100%;
  padding: 1px;
}

/* line 22, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt input ~ label {
  z-index: 0;
  top: 0.5rem;
  left: 0;
}

/* line 23, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt input:focus ~ label, .inpt input:valid ~ label {
  background-color: #fff;
  top: -0.7rem;
  left: 0;
  font-size: 1rem;
  color: #50dae2;
  /* padding: 0 0.3rem;*/
}

/* line 27, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt.arwDwn:after {
  right: 0.6rem;
  top: 0.6rem;
  border-color: transparent #50dae2 #50dae2 transparent;
}

/* line 33, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 39, C:/Users/rahrao/Desktop/session/project/code/style/scss/modules/_input.scss */
.inpt input ~ .uLine:after {
  content: "";
  width: 0;
  background-color: #50dae2;
}

/* line 14, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
:root {
  font-size: 14px;
}

@media screen and (max-width: 45em) {
  /* line 14, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
  :root {
    font-size: 12px;
  }
}

/* line 21, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
body {
  font-family: "Dosis";
  color: #3f3f3f;
}

/* line 32, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
.view--none {
  display: none;
}

@media screen and (max-width: 45em) {
  /* line 34, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
  html > body .view--none--s {
    display: none;
  }
}

/* line 40, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
.card {
  box-shadow: 1px 2px 5px #d8d8d8;
  border-radius: 3px;
}

/* line 47, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
.login {
  align-items: center;
  justify-content: center;
}

/* line 52, C:/Users/rahrao/Desktop/session/project/code/style/scss/app.scss */
.signup {
  justify-content: center;
}

/*# sourceMappingURL=../css/app.map */