$grey--light : #f1f1f1;

#heroSlider {
  
    margin: 5% auto;
   
  
  }
  .sliderCon {
   display: flex;
  overflow: hidden;
  position: relative;
  
  }
  [name = "slide"] {display:none}
  
  .slide{
      order:1;
      transition: all 0.4s ease-in-out;
      opacity:0.8;
  }
  
  .pag {
      position:absolute;
      bottom:rem(20);
      left:45%;
  }
  
  .pag li {display:inline; position: relative; margin-right:5px;}
  
  .pag li label{
      
      width: rem(7);
      height:rem(7);
      display: inline-block;
      background-color: darken($grey--light , 10%);
      border-radius:5px;
      margin:0 rem(5);
  }
  
  [name="slide"]:checked + div.slide { order:0; opacity:1;}

  .dropShadow
{
    position:relative;

    @media screen and (max-width:$media-breakpoint){
        figure{padding:0;}
    }

}
.dropShadow:before, .dropShadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 5px 20px rgba(0,0,0,0.4);
    top:80%;
    bottom:rem(5);
    left:10%;
    right:10%;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.dropShadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
  
  

#prodCat {
    .row:nth-child(even){
        figure {order:1;}
    }
}


.skip-links a {position: absolute; top:-3em;
    &:focus{
        top:0;
        background-color: $grey--dark;
        padding: 0.5rem;
        color:$white;
    }
}